---
layout: default
---
<nav id="je-suis">
 <h1 class="page-heading">Je suis…</h1>
 <ul class="thumb thumb-max">
  {% include thumb.html url="/je-suis/autiste/" title="Autiste" img="/assets/pages/je-suis/autiste/opengraph.jpg" color="blue" %}
  {% include thumb.html url="/je-suis/un-membre-de-la-famille/" title="Un membre de la famille" img="/assets/pages/je-suis/un-membre-de-la-famille/opengraph.jpg" color="green" %}
  {% include thumb.html url="/je-suis/un-professionnel/" title="Un professionnel" img="/assets/pages/je-suis/un-professionnel/opengraph.jpg" color="purple" %}
 </ul>
</nav>

<div class="post-large">

 <div id="cols">
  <div class="col-blog">
   {% include blog.html %}
   <p><a class="more-articles" href="/blog/#post-4">Plus d'articles</a></p>
  </div>
  <div class="col-twitter">
   <amp-iframe width="200" height="600" sandbox="allow-scripts allow-forms allow-same-origin" layout="responsive" src="https://skwiz.github.io/autisme/html/twitter-timeline.html" data-block-on-consent>
   </amp-iframe>
  </div>
</div>
 <small>Images issues de <a rel="nofollow" href="http://www.freepik.com/">freepik.com</a>.</small>

</div>
