---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% if page.banner_image != false %}
     {% if page.banner_image %} 
      <amp-img class="center"  width="640" height="228" layout="intrinsic" src="{{ page.banner_image }}" alt="{{ page.title }}"></amp-img>
     {% elsif page.oembed_image %} 
      <amp-img class="center"  width="324" height="228" layout="intrinsic" src="{{ page.oembed_image }}" alt="{{ page.title }}"></amp-img>
     {% endif %}
    {% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>


  {% if page.courtesis or page.translated %}
   <footer>
   {% if page.translated %}
    {% include translated.html %}
   {% endif %}
   {% if page.courtesis %}
    {% include courtesis.html %}
   {% endif %}
   </footer>
  {% endif %}

</article>
